*{
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: Optima;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background: linear-gradient(-5deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container
{
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(214, 202, 202, 0.05);
    height: 62vh;
    width: 28vw;
    background: radial-gradient(at center, rgba(214, 202, 202, 0.05), rgba(224, 217, 217, 0.5));
}

.container h1
{
    margin: 10px;
    font-family: Lucida Bright;
}
.inpSection{

    margin: 20px 50px;
    text-align: left;
       font-family: Copperplate;
    ;
}
input{
    color: rgba(51, 45, 45, 0.5);
    font-weight: 650;
    outline: none;
    border: none;
    box-shadow: 0 2px 4px rgba(214, 202, 202, 0.05);
    font-size: 18px;
    padding: 15px;
    height: 35px;
    margin: 10px;
    display: flex;
    width: 20vw;
}
.button button{
    padding: 10px;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgba(224, 217, 217, 0.5);
}
.button button:hover
{
   
      background-color:bisque;
     
}
.result{
    position: relative;
    margin: 20px 0;
}
label{
    font-weight: 600;
}
.amt
{
    font-family: Copperplate;
}
h3{
    font-size: 20px;
}